<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="../../assets/images/logo2.jpg"
                 class="img-responsive center-block"
                 style="max-height:600px;padding-bottom:100px" />
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Cuong Nguyen Manh</h3>
            <div class="text-center">@Cuongnm</div>
            <div class="text-center">
                <a href="https://www.facebook.com/cuongcau93">Nguyễn Mạnh Cường</a>
            </div>
        </div>
    </div>
</div>